::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0000ff;
    border: solid 1px rgb(255, 255, 255);
}
::-webkit-scrollbar-corner {
    background: #0000ff;
    border: solid 1px #ffffff;
}
::-webkit-scrollbar-thumb {
    background: repeating-linear-gradient(to top, #9cf, #f9c, #ec8, #7eb, #9cf);
    outline: solid 1px #ffffff;
}
::-webkit-scrollbar-thumb:hover {
    background: repeating-linear-gradient(to bottom, #f9c, #ec8, #7eb, #9cf, #f9c);
}